@model ApplicationCore.Models.PaginationModel<ApplicationCore.Models.MovieCardModel>

<h2>Movies in @ViewBag.GenreName</h2>

<div class="movie-grid">
    @foreach (var movie in Model)
    {
        @await Html.PartialAsync("MovieCard", movie)
    }
</div>

@await Html.PartialAsync("Pagination", Model)