@model Genre;

@{
    ViewData["Title"] = "Add New Genre";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post" asp-controller="Genre">
    <div class="container">
        <div class="my-3">
            <label for="Name">Name</label>
            <input type="text" asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button class="btn btn-submit">Create</button>
    </div>
</form>