<div class="p-2 mx-auto my-0" style="width: 24rem;">
    <h2>Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <a href=" @Url.Action("Login", "Account")">Back to login</a>
</div>
